body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p  
{margin:0px; padding:0px;outline: none;list-style: none;} 
html{ font-family: "微软雅黑";font-size: 62.5%;}
a{text-decoration: none;font-family: "微软雅黑";} 
.clearfix:after{content: "";display: block;clear: both;}
.clearfix{*zoom: 1;}
.section{overflow: hidden;}
.slide {overflow: hidden;}
#fp-nav ul li a span, .fp-slidesNav ul li a span{  
    background: #fff; /*这里设置的是活动导航的颜色*/  
}  
img{border: 0;}
.slideBox{
	width: 100%;height: 100%;border-bottom: 30px solid #000;position: relative;
	/*text-align: center;*/
}
.sliders{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	width: 100%;
	height: 100%;
	-webkit-animation-name: rotate;
	-webkit-animation-duration:60s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
	-moz-animation-name: rotate;
	-moz-animation-duration:60s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-timing-function:linear;
	animation-name: rotate;
	animation-duration:60s;
	animation-iteration-count:infinite;
	animation-timing-function:linear;
}
@-webkit-keyframes rotate {
  0% { -webkit-transform: rotate(0deg) scale(1);}
  50% {  -webkit-transform: rotate(15deg) scale(1.8);}
  100% {  -webkit-transform: rotate(0deg) scale(1);}
}

@-moz-keyframes rotate {
  0% { -moz-transform: rotate(0deg) scale(1);}
  50% {  -moz-transform: rotate(15deg) scale(1.8);}
  100% {  -moz-transform: rotate(0deg) scale(1);}
}
.innerTitle{
	width: 550px;height: 179px;
	position: absolute;top: 0;bottom: 0;margin: auto;left: 8.2%;
	display: inline-block;
}
.IMGbox_a{margin-bottom: 30px;}
.IMGbox_b{margin-bottom: 15px;}
.IMGbox_a img{height: 65px;}
.IMGbox_b img{height: 40px;}
.IMGbox_c img{height: 32px;}

.slideShow{position: relative;}
.borderBot{
	position: absolute;bottom: 0;left: 0;width: 100%;height: 30px;background: #000;z-index: 500;
}
.nav_section{
	position: fixed;left: -250px;top: 0px;right:0;width: 250px;height: 100%;
	background: #000;z-index: 600;
}
.nav_section .nav_list{
	width: 100%;
	padding-top: 136px;
}
.nav_section .nav_btn{
	width: 50px;height: 50px;position: absolute;top: 66px;left: 250px;
}
.nav_section .nav_btn img{
	width: 100%;height: 100%;
}
.nav_section .nav_list .logo{
	text-align: center;
}
.nav_section .nav_list .nav_title{margin-top: 60px;}
.nav_section .nav_list .nav_title li{
	width: 100%;margin-bottom: 20px;text-align: center;
}
.nav_section .nav_list .nav_title li a{
	color: #fff;
	font-size: 14px;
}
.nav_section .nav_list .nav_title li a:hover{
	color: #ffda00;
}
.nav_section .nav_list .nav_title li .active{
	color: #ffda00;
}
.nav_section .nav_list .nav_title_icon li{
	width: 100%;margin-bottom: 23px;
}
.nav_section .nav_list .nav_title_icon li a{
	color: #fff;margin-right: 44px;
	font-size: 14px;float: right;
	box-shadow:0 0 10px rgba(255,255,255,.4) inset;  
}
.nav_section .nav_list .nav_title_icon li a:hover{
	 -webkit-box-shadow:0 0 10px rgba(255,255,255,.4);  
  -moz-box-shadow:0 0 10px rgba(255,255,255,.4);  
  
}
/*services*/
.advangage{
	width: 100%;height: 100%;
	background: #000;color: #fff;
	font-family: "微软雅黑";
	
}
.advangage_border{
	height: 10.17%;background: #FAD600;width: 100%;
	box-shadow: 0 0px 21px -3px black inset;  
}
.advangage_title{
	padding-top: 50px;
	text-align: center;
	margin-bottom: 80px;
}
.advangage_title h1{
	display: inline-block;height: 65px;line-height: 65px;
	color: #FAD600;border-bottom: 4px solid #FAD600;font-size: 3.8rem;
}
.advangage_title h2{
	height: 59px;line-height: 59px;color: #FAD600;font-size: 2.6rem;
}
.advangage_title p{
	display: inline-block;width: 750px;text-align: center;
	font-size: 1.4rem;color: #fff;
}
.advangage_list{
	width: 1032px;margin: 0 auto;
}
.advangage_list ul{width: 100%;}
.advangage_list ul li{
	float: left;width: 180px;margin: 0 3.5%;
}
.advangage_list ul li .advangage_show{
	height: 180px;width: 180px;border-radius: 50%;background: #FAD600;
	color: #000000;text-align: center;position: relative;
	line-height: inherit !important; 
}
.advangage_list ul li .advangage_show canvas{
	position: absolute;left: 0;top: 0;
}
.advangage_list ul li .advangage_show h3{
	padding-top: 75px;font-size: 2.0rem;
}
.advangage_list ul li .advangage_show h4{
	font-size: 1.8rem;font-weight: normal;
}
.advangage_list ul li dl{
	color: #fff;padding-top: 26px;
}
.advangage_list ul li dl dd{
	width: 100%;text-align: center;font-size: 1.4rem;
	height: 28px;line-height: 28px;
}
.service{
	width: 100%;height: 100%;
	background: #FAD600;
	/*box-shadow: 0 0px 60px rgba(0,0,0,.5) inset;*/
}
.service_title{
	padding-top:62px;
	text-align: center;
	margin-bottom: 120px;
}
.service_title h1{
	display: inline-block;height: 68px;line-height: 68px;
	color: #000;border-bottom: 4px solid #000;font-size: 3.8rem;
}
.service_title h2{
	height: 54px;line-height: 54px;color: #000;font-size: 2.6rem;
}
.service_title p{
	display: inline-block;text-align: center;
	font-size: 1.4rem;color: #000;height: 24px;line-height: 24px;
}
.service .ourWork{
	width: 1080px;
	margin: 0 auto;
}
.service .ourWork li{
	width: 21.20%;float: left;margin-right: 5.06%;
	box-shadow: 0 0 10px 0px rgba(0,0,0,.4);
	border-radius: 3px;
	overflow: hidden;
}
.service .ourWork li:nth-child(4){
	margin-right: 0;
	
}
.service .ourWork li:hover{
	cursor: pointer;
	box-shadow: 0 0 50px 25px rgba(255,255,255,.4);
}
.head_icon{
	background: #000;width: 100%;
	padding-top: 40px;height: 80px;text-align: center;
}
.work_detail{
	background: #fff;text-align: center;min-height: 250px;
}
.work_detail h1{
	padding-top: 9px;
	height: 69px;line-height: 69px;font-size: 1.6rem;
}
.work_detail p{
	line-height: 24px;font-size: 1.2rem;
	padding: 0 16.6% 0 16.6%;
}
.ourStory{
	width: 100%;height: 100%;
	position: relative;
}
.ourStory .bgImg{
	width: 100%;height: 100%;
	-webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
     filter: blur(10px);
     filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); 
}
.ourStory .bgImg img{
	width: 100%;height: 100%;
	-webkit-filter: grayscale(1);/* Webkit */ 
	filter: grayscale(1);/* W3C */ 
	filter:gray;/* IE6-9 */ 
}
.Story{
	position: absolute;
	width: 1080px;
	margin: auto;
	left: 0;right: 0;
	top: 18%;
}
.Story h1{
	color: #FAD600;font-size: 6.0rem;
	border-bottom: 2px solid #FAD600;padding-bottom: 35px;
}
.Story h1 span{
	color: #fff;font-size: 2.5rem;padding-left: 10px;
}
.Story .story_detail{
	background: rgba(255,255,255,.3);
	color: #fff;
	padding: 0 80px;
	padding-top: 35px;
	padding-bottom: 38px;
}
.Story .story_detail p{
	line-height: 28px;font-size: 1.6rem;
}
.Story .chat_btn{
	padding-top: 43px;
}
.Story .chat_btn a{
	float: right;
	display: block;
	width: 152px;height: 40px;line-height: 40px;
	border: 2px solid #fff;
	border-radius: 3px;
	text-align: center;
	color: #fff;
}
.Story .chat_btn a:hover{
	background: #FAD600;color: #000;border: 2px solid #FAD600;
}
.service_flow{
	width: 100%;height: 100%;
	background: #FAD600;text-align: center;
}
.service_flow_lineChart{
	display: inline-block;
	position: relative;width: 1017px;
}
.service_flow_lineChart img{
	width: 100%;
}
.service_flow_lineChart .flow_list{
	position: absolute;text-align: center;
	left: -9px;bottom: -83px;
}
.service_flow_lineChart .flow_list:nth-child(3){
	left: 88px;bottom: 56px;
}
.service_flow_lineChart .flow_list:nth-child(4){
	left: 236px;bottom: -71px;
}
.service_flow_lineChart .flow_list:nth-child(5){
	left: 372px;bottom: 85px;
}
.service_flow_lineChart .flow_list:nth-child(6){
	left: 530px;bottom: -8px;
}
.service_flow_lineChart .flow_list:nth-child(7){
	left: 632px;bottom: 58px;
}
.service_flow_lineChart .flow_list:nth-child(8){
	left: 788px;bottom: -99px;
}
.service_flow_lineChart .flow_list:nth-child(9){
	left: 911px;bottom: 14px;
}
.service_flow_lineChart .flow_list .top_color{
	display: inline-block;width: 10px;height: 10px;border: 7px solid #000;border-radius: 50%;
	background: #FAD600;margin: 12px;
}
.service_flow_lineChart .flow_list .bot_img{
	width: 88px;height: 92px;background: url(../images/img_line_a.png) no-repeat;margin: 12px;
}
.service_flow_lineChart #check_style .top_color{
	border: 7px solid #fff !important;background: #000 !important;
}
.service_flow_lineChart #check_style .bot_img{
	background-position: 0 -110px !important;
}
.app_cases{
	width: 100%;height: 100%;
	background: #000;color: #fff;
	font-family: "微软雅黑";
	/*box-shadow:-112px 0 107px rgba(0,0,0,.4) inset, /*左边阴影*/  
    /*114px 0 107px rgba(0,0,0,.4) inset,*/ /*右边阴影*/  
    /*0 -10px 10px rgba(0,0,0,.4) inset,*/ /*顶部阴影*/  
   /* 0 -452px 409px rgba(255,255,255,.2) inset;*/ /*底边阴影*/ 
    text-align: center;
}
.app_cases_show_head{
	text-align: center;margin-bottom: 30px;
}
.app_cases_show_head li{
	display: inline-block;
	cursor: pointer;
	font-size: 1.6rem;
	margin-right: 3.6%;
}
.app_cases_show_head .checked_style{
	color: #fad600;
}
.app_cases_show_head li:hover{
	color: #FAD600;
}
.app_cases_show{
	display: inline-block;
	width: 1070px;
	height: 65%;
	overflow: hidden;
	position: relative;
}
.page_diff{
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0;
}
.page_diff li{
	display: inline-block;
	width: 7px;height: 7px;
	border-radius: 50%;
	background: #fff;margin: 0 10px;
	cursor: pointer;
}
.page_diff li:hover{
	background: #fad600;
}
.img_container{
	position: absolute;
	left: 0;top: 0;
}
.img_container a{
	display: block;
	float: left;
	position: relative;
	margin-right: 10px;margin-bottom: 10px;
	overflow: hidden;
}
.img_container a img{
	width: 100%;
	
}
.img_container a span{
	position: absolute;
	width: 100%;
	display: block;
	bottom: 0px;
	line-height: 30px;
	padding: 10px 0;
	text-indent: 2em;
	background: #fff;
	font-size: 1.4rem;
	color: #333;
	text-align: left;
	opacity: 0;
}

.ourteam{
	width: 100%;
	background: #FAD600;
	height: 100%;
	text-align: center;
}
.team_show{
	display: inline-block;
	text-align: center;
	padding: 110px 132.5px 40px 132.5px;
    width: 805px;
	text-align: center;
	line-height: 24px;
	font-size: 1.8rem;
	border: 4px solid #000;
	text-indent: 2em;
	position: relative;
	margin-top: -82px;
	z-index: 10;
}
.ourteam .ourteam_title{
	display: inline-block;
	background: #FAD600;
	position: relative;
	z-index: 20;
	padding: 0 50px;
	padding-top: 100px;
}
.team_show_num{
	width: 100%;text-align: center;
}
.team_show_num li{
	display: inline-block;
	margin: 0 2.6%;
	margin-top: 58px;
	text-align: center;
}
.team_show_num li div {height: 50px;}
.team_show_num li div img{
	display: inline-block;
}
.team_show_num li div span{
	display: block;
	float: left;
	height: 50px;
	line-height: 50px;
	font-size: 2.6rem;
	font-weight: bold;
}
.team_show_num li div span:nth-child(1){
	margin-right: 20px;
	margin-left: 15px;
}
.team_show_num li p{
	margin-top: 20px;font-size: 1.8rem;font-weight: bold;
}
.footer_show{
	background: #3b3b3b;
}
.work_part{
	text-align: center;display: inline-block;
	padding-top: 70px;padding-bottom: 59px;
	border-bottom: 2px solid #4a4a4a;
	margin-bottom: 74px;
}
.work_part span{display: inline-block;margin: 0 50px;}
.contact_me{
	width: 926px;margin: 0 auto;padding-right: 63px;position: relative;
}
.contact_me li{
	width: 312px;float: left;color: #fff;margin-bottom: 18px;
}
.contact_me li span{
	display: inline-block;width: 22px;height: 23px;
	background: url(../images/content_little_a.png) no-repeat;
	background-position:0 -24px;float: left;margin-right: 15px;
}
.contact_me li:nth-child(2) span{
	background: url(../images/content_little_d.png) no-repeat;
	background-position:0 -24px;
}
.contact_me li:nth-child(3) span{
	background: url(../images/content_little_b.png) no-repeat;
	background-position:0 -24px;
}
.contact_me li:nth-child(4) span{
	background: url(../images/content_little_e.png) no-repeat;
	background-position:0 -24px;
}
.contact_me li:nth-child(5) span{
	background: url(../images/content_little_c.png) no-repeat;
	background-position:0 -24px;
}
.contact_me li:nth-child(6) span{
	background: url(../images/content_little_f.png) no-repeat;
	background-position:0 -24px;
}
.contact_me li p{
	display: inline-block;font-size: 14px;float: left;
}
.contact_me li:hover{
	color: #fad600;cursor: pointer;
}
.contact_me li:hover span{
	background-position:0 0 !important;
}
.qr_pic{
	position: absolute;
	top: 0;right: 0;
	text-align: center;
}
.qr_pic p{
	font-size: 1.2rem;color: #dadada;padding-top: 6px;
}
.Links{
	width: 100%;
	text-align: center;
	color: #999;
	font-size: 1.4rem;
	margin-top: 40px;
}
.Links a{
	display: inline-block;color: #999;
	margin-right: 15px;
}
.footer_txt{
	width: 100%;
	text-align: center;
	color: #999;
	font-size: 1.4rem;
	margin-top: 10px;
	padding-bottom: 35px;
}
.Mappop{
	display: none; 
	width: 100%;height: 100%;
	background: rgba(0,0,0,.5);
	position: absolute;left: 0;top: 0;z-index: 1000;
}
.mapBox{
	width: 100%;height: 600px;position:absolute;bottom: 100px;
}
.closeMap{
	width: 40px;height: 40px;
	text-align: center;font-size: 30px;
	line-height: 38px;border-radius:50%;
	background: rgba(0,0,0,.6);color: #fff;
	position: absolute;right: 20px;top: 0;
	cursor: pointer;
}
/*返回顶部*/
.side_nav_bar{
	position: fixed;
	z-index: 500;
	bottom: 20px;
	right: 0;
	display: none;
}
.side_nav_bar a{
	display: block;position: relative;
}
.side_nav_bar a span{
	display: block;width: 100px;height: 45px;line-height: 45px;
	color: #fff;font-size: 14px;padding-left: 10px;position: absolute;
	top: 0;left: -109px;background: rgba(0,0,0,.6);display: none;
}
.Nav_side{
	position: fixed;
	z-index: 500;
	top: 28px;
	left: 5px;
	
}
.Nav_side .nav_title{
	float: left;width: 260px;text-align: center;
	display: none;
}
.Nav_side .nav_title a{
	color: #fff;font-size: 14px;height: 40px;line-height: 40px;
	background: rgba(0,0,0,.6);display: block;
}
.Nav_side .nav_title a:hover{
	color: #FAD600;border: 2px solid #FAD600;font-size: 16px;
}
.Nav_side .nav_btn{
	float: left;width: 50px;height: 50px;
}
.Nav_side .nav_btn img{
	width: 100%;height: 100%;
}
.News{
	padding-bottom: 72px;border-bottom: 2px solid #4f4f4f;
	margin: 0 auto;width: 1070px;
	margin-bottom: 60px;
	
}
.News h1{
	color: #fad600;
	font-size: 3rem;
	display: inline-block;
	padding-bottom: 7px;margin-left: 33px;
	margin-bottom: 28px;
	border-bottom: 2px solid #FAD600;
}
.News h1 span{
	font-size: 1.6rem;padding-left: 10px;
}
.news_list a{
	float: left;
	color: #fff;font-size: 1.4rem;
	height: 29px;line-height: 29px;
	margin: 0 33px;
}
.news_list a:hover{
	color: #FAD600;
}
.news_list a p{
	float: left;
	width: 296px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.news_list a .news_time{
	float: left;margin-left: 37px;
}
.news_list a .news_time span:nth-child(1){
	padding-right: 10px;
}
.app_detail{
	width: 1200px;
	margin: 0 auto;background: #505050;
	
}
.logo_head{
	height: 94px;line-height: 94px;
	background: #000;
}
.logo_head .logo{
	float: left;margin-left: 40px;margin-top: 23px;
}
.logo_head .logo_btn{
	float: right;
}
.logo_head .logo_btn a{
	display: inline-block;margin-right: 47px;
	color: #fff;
}
.content_head{
	margin-top: 45px;margin-left: 40px;
	margin-bottom: 37px;
}
.content_head .app_logo{
	float: left;margin-right: 30px;
	width: 120px;height: 120px;
}
.content_head .app_logo img{
	width: 100%;height: 100%;
}
.content_head .app_content{
	float: left;
}
.content_head .app_content h1{
	color: #fff;font-size: 1.8rem;
	margin-bottom: 10px;
}
.content_head .app_content p{
	color: #fff;font-size: 1.4rem;
}
.showApp{
	background: #262626;width: 1150px;margin: 0 auto;
}
.showApp li{
	margin: 15px 0 15px 15px;
	width: 363px;float: left;
}
.showApp li img{
	width: 100%;
}
.app_bot{
	width: 100%;
	margin-top: 66px;padding-bottom: 20px;
	text-align: center;
	color: #ccc;font-size: 1rem;
}
.nav_sections{
	position: fixed;left: 0;top: 0;right: 0;
	text-align: center;display: none;
	width: 100%;background: rgba(255,255,255,.9);
	height: 90px;line-height: 60px;
}
.nav_sections .logo{
	float: left;padding-top: 10px;
	width: 375px;text-align: left;margin-right: 118px;
}
.nav_sections .logo img{
	width: 70%;
}
.nav_sections .nav_title{
	float: left;
}
.nav_sections .nav_title li{
	float: left;
	margin-right: 70px;
}
.nav_sections .nav_title li a{
	color: #000;display: inline-block;
	height: 35px;line-height: 35px;
	padding-top: 1.8rem;
	font-size: 1.8rem;
	border-bottom: 5px solid transparent;
}
.nav_sections .nav_title li a:hover{
	font-weight: bold;
}
.nav_sections .nav_title li .active{
	position: relative;
}
.nav_sections .nav_title li .active span{
	position: absolute;display: block;
	width: 32px;height: 5px;background: #FAD600;border-radius: 3px;
	left: 0px;bottom: -5px;
}
.nav_sections .callMe{
	float: left;padding-top: 0.8rem;
	font-size: 2.0rem;color: #000;
}
.nav_sections .callMe img{height: 20px;}
.side_nav_bars{
	position: fixed;height: 310px;width: 60px;
	right: 0;top: 50%;margin-top: -155px;
}
.side_nav_bars a{
	display: block;line-height: 60px;
	background: #FAD600;border-radius: 4px 0 0 4px;
	color: #fff;font-size: 1.6rem;font-weight: bold;width: 250px;
}
.side_nav_bars a span{
	display: inline-block;text-align: center;
	width: 50px;height: 60px;float: left;padding:5px;padding-left: 7px;padding-top: 8px;
}
.side_nav_bars a p{
	float: left;width: 150px;margin-left: 15px;
}
.side_nav_bars a span img{
	width: 100%;
}
.wechat_btn{
	position: absolute;left: -15px;top: 184px;
}
.wechat_pic{
	position: absolute;
	right: 0;top: 0;
}
.qq_btn{
	position: absolute;left: -15px;top: 0;
}
.phone_btn{
	position: absolute;left: -15px;top: 92px;
}
/*新闻*/
.news_detail{
	padding: 40px 62px 0 62px;color: #fff;
}
.news_detail h1{
	font-size: 2.2rem;text-align: center;margin-bottom: 10px;
}
.news_detail .time_show{
	font-size: 1.0rem;text-align: center;margin-bottom: 24px;
}
.news_detail p{
	line-height: 25px;font-size: 1.4rem;padding-bottom: 30px;
}
/*侧边栏*/
.nav_side_btn{
	position: fixed;z-index: 1000;
	bottom: 200px;right: 0;display: none;
}
.nav_side_btn li{position: relative;}
.nav_side_btn li a{
	display: block;padding-top: 11px;padding-bottom: 7px;
	background: #000;width: 55px;text-align: center;
	border: 2px solid #fad600;
}
.nav_side_btn li .hover{border-left: 2px solid transparent;}
.nav_side_btn li:nth-child(3) a{
	padding-bottom: 15px;padding-top: 16px;
}
.nav_side_btn li:nth-child(2) a{
	padding-top: 17px;padding-bottom: 10px;border-top: hidden;border-bottom: hidden;
}
.navOne p{
	position: absolute;width: 180px;top: 0;left:-200px;color: #fff;font-size: 20px;
	height: 55px;line-height: 55px;padding-left: 20px;
	border-left: 2px solid #fad600;border-top: 2px solid #fad600;border-bottom: 2px solid #fad600;
	background: #000;display: none;
}
.navOne:hover p{
	display: block;
}
.erwei_pic{
	position: absolute;top: -60px;left: -182px;background: #000;z-index: 110;display: none;
	width: 162px;height: 162px;padding: 3px;border: 2px solid #fad600;
}
.erwei_pic img{
	width: 100%;height: 100%;
}
.erwei_pic span{
	display: block;position: absolute;top: 56px;right: -14px;
	width: 14px;height: 57px;background: #000;
	border-top: 2px solid #fad600;border-bottom: 2px solid #fad600;
}
.navTwo:hover .erwei_pic{
	display: block;
}
.img-auto img{
	width: 100%;
	display: block;
}
.phone-large{position: fixed;background: rgba(135,135,135,0.9);width: 100%;height: 100%;top: 0;left: 0;z-index: 99999;display: none;}
.phone-large img{position: fixed;left: 50%;top: 50%;transform: translate(-50%,-50%);}
